<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="text-decoration-color: crimson; font-family: Verdana">
   MARVELLOUS INFOSYSTEMS 
</h1>
</div>
<div>
 <br>
<nav>
 <button class="btn btn-secondary" style="margin-left: 360px; margin-right: 100px" onclick="window.location='/admission'"><h2> Admission </h2></button>
 <button class="btn btn-secondary" style="margin-left: 50px; margin-right: 50px" onclick="window.location='/login'"><h2> login </h2></button>
 <button class="btn btn-secondary" style="margin-left: 100px" onclick="window.location=''"><h2> Home </h2></button>
</nav>
<br>
<hr style="border-color: #aaaaaa; border-width: 1px; width: 80%">

</div>
<router-outlet></router-outlet>
